<section class="page-header">
  <div>
  <h1 class="project-name"><a style="color:white; margin-left: 0;" href="{{ site.url }}/" > {{ site.title }} </h1></a>
  <!-- <h2 class="project-tagline">{{ site.tagline }}</h2> -->
  <!-- <a href="/resume" class="btn-small">Resume</a> -->
  <a href="/files/resume.pdf" class="btn-small">Resume</a>
  <a href="/projects" class="btn-small">Projects</a>
  <a href="/publications" class="btn-small">Publications</a>
  <!-- <a href="/musings" class="btn-small">Musings</a> -->
  <a href="http://github.com/jonathanking" class="btn-small">GitHub</a>
  </div>
</section>